<section class="skills" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
    <h2 class="main-heading">Skills</h2>
    <div class="container">
      <div class="row justify-content-center">
          <div class="col-lg-3 col-sm-6 logoHtml">
            <img src="../../assets/imgs/logo/html.png" alt="">
          </div>
          <div class="col-lg-3 col-sm-6 logoCss">
            <img src="../../assets/imgs/logo/css.png" alt="">
          </div>
          <div class="col-lg-3 col-sm-6 logoJs">
            <img src="../../assets/imgs/logo/js.png" alt="">
          </div>
          <div class="col-lg-3 col-sm-6 logoGitHub mb-5">
            <img src="../../assets/imgs/logo/github.png" alt="">
          </div>
          <div class="col-lg-3 col-sm-6 logoBootstrap">
            <img src="../../assets/imgs/logo/bootstrap.png" alt="">
          </div>
          <div class="col-lg-3 col-sm-6 logoGit">
            <img src="../../assets/imgs/logo/git.png" alt="">
          </div>
          <div class="col-lg-3 col-sm-6 logoNpm">
            <img src="../../assets/imgs/logo/npm.png" alt="">
          </div>
      </div>
    </div>
</section>