<ul class="navBullets">
    <li (click)="toHome()">
      <i class="bi bi-house-door"></i>
      <div class="tooltips">Home</div>
    </li>
    <li (click)="toAbout()">
      <i class="bi bi-person"></i>
      <div class="tooltips">About</div>
    </li>
    <li (click)="toResume()">
      <i class="bi bi-file-earmark"></i>
      <div class="tooltips">Resume</div>
    </li>
    <li (click)="toPortfolio()">
      <i class="bi bi-card-text"></i>
      <div class="tooltips">Portfolio</div>
    </li>
    <li (click)="toContact()">
      <i class="bi bi-envelope"></i>
      <div class="tooltips">Contact</div>
    </li>
</ul>